.code{
   max-width: 100%;
   background: darkgray;
   padding: 2rem;

}

.active{
   display: none;
}

.code__column-NX{
   max-width: 100%;
   z-index: 5;

}

.code__buton{
    position: relative;
    width: 100%;

}

.code__button .code__icon{
     font-size: 2rem;
     color: red;
     /* position: absolute;
     top: 0%;
     left: 50%;
     color: red;
     z-index: 5;
     background: none;
     font-size: 2rem; */
}

.code__button .code__icon{

}

.code__boxes{
   display: flex;
   gap: 2rem;
   padding: 2rem 4rem;
   background: darkgray;

}

.code__boxes > *{
   max-width: 100%; ;
   flex-grow: 1;
   flex-basis: calc(calc(35rem, - 100%) * 999);
}



.code__box1{
   display: grid;
   gap: 1rem;
}




.code__buton .code__icon{

}

.code__exp{
   display: flex;
   align-items: center;
   gap: 2rem;
}
.code__btn{
   display: flex;
   align-items: center;
   gap: 2rem;
}

.code__btn button{
   padding: .5rem 1.5rem;
   color: #fff;
   background: red;
   border: none;
}

@media screen and (max-width: 940px) {
   .code__boxes{
      display: grid;
      grid-template-columns: 1fr;
   }

   .code__boxes{
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;
   padding: 0 1rem;

}

.active{
   display: none;
}

.code__column-NX{
   max-width: max-content;
   margin-top: 3rem;
   background: none;
}

}

@media screen and (max-width: 620px) {
   .code__boxes{
      display: grid;
      grid-template-columns: 1fr;
   }

   .code__boxes{
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;
   padding: 0 1rem;

}

.active{
   display: none;
}

.code__column-NX{
   max-width: max-content;
   margin-top: 3rem;
   background: none;
}

}